#layers-selector {
  #layers-icon {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 20px;
    right: 20px;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 401;
    border-radius: 50%;
    border: 5px solid transparent;
    cursor: pointer;
  }
  #layers-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 400;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    display: grid;
    place-items: center;
    .selector {
      pointer-events: initial;
      background-color: #fff;
      padding: 1rem;
      border-radius: .5rem;
      div {
        padding: 5px;
        cursor: pointer;
      }
    }
  }
}
