// // @import "../../../../node_modules/leaflet/dist/leaflet.css";

#map {
  height: 100vh;
  width: 100vw;
}
.svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 570;
  pointer-events: none;
}
::ng-deep .leaflet-control-layers-toggle {
  background-image: url('../../../assets/icons/layers.svg')!important;
  background-size: contain;
  margin: 6px;
}
